
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
 

#searchbar {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    box-sizing: border-box;
}

.div{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.button
{
    padding: 0;
    border: none;
    background: none;
}